.experience{
        width: 100%;
        align-items: center;
        font-family: "Arial", sans-serif;
        background: linear-gradient(to right, rgb(111, 176, 187),rgb(212, 50, 212));
      
}