.experience {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to left, rgb(197, 75, 228), rgb(120, 240, 200));
}
.vertical-timeline-element--education p {
  font-size: 14px;
}
.vertical-timeline-element--education {
  font-size: 10px;
  color: black;
}
