body{
    margin: 0;

background:lightseagreen


}
.main{
margin-left: 10%;
    color: aliceblue;
display: flex;
width: 100%;
position: absolute;
}
.comps{
    margin-top: 1%;
    width: 30%;
    display: flex;
justify-content: space-evenly;  
}
button{
    border: none;
    background-color: lightseagreen;
    color: aliceblue;

}
button:hover{
    color: rgb(255, 182, 182);
}

